*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.keystore
data/rules.json
data/backup-*/
tools/stores/cache/
data/places.json
__pycache__/
tools/roads/cache/
